{%extends 'patient/myaccount_base.html'%}
{%block main%}
      <div class="col-md-7 col-lg-8 col-xl-7">
        {% if messages %}
        <div class="alert alert-danger" role="alert">
        {% for message in messages %}
                {{ message }}              
                {% endfor %}
            </div>
        {% endif %}
        <form style="font-size:medium; " class="col-9 mx-auto card p-3 shadow"  method="post" enctype="multipart/form-data">
          {% csrf_token %}  
          <div>
              <label  class="form-label">Old password</label>
              <input type="password" class="form-control" name="old_password">
            </div>
          <div>
            <label  class="form-label"> New Password</label>
            <input type="password" class="form-control" name="new_password">
          </div>
          <div>
            <label class="form-label">Confirm new Password</label>
            <input type="password" class="form-control" name="new_password_confirm">
        </div>
         <center> 
            <button type="submit" class="btn btn-primary btn-lg mt-3">Update</button>
          </center>
        </form>

{% endblock %}