{% extends 'patient/base.html' %}
{% load static %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="/patient/">Home</a></li>
    <li>Contact Us</li>
</ul>

<div class="container mt-5">
    
    <form style="font-size:medium; " class="col-5 mx-auto card p-3 shadow"  method="post" enctype="multipart/form-data">
      <center><h3>Feel free to Contact us</h3></center>
      {% csrf_token %}
      <div class="mb-3 mt-5">
        <label  class="form-label"> Name</label>
        <input type="text" class="form-control" name="name" >
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email" required>
    </div>
        <div class="mb-3">
          <label  class="form-label">Subject</label>
          <input type="text" class="form-control" name="subject">
        </div>
        <div class="mb-3">
          <label  class="form-label">Message</label>
          <textarea name="message"  class="form-control"></textarea>
        </div>
     <center> <button type="submit" class="btn btn-primary btn-lg">Send</button></center>
    </form>
  </div>

{% endblock  %}