{% extends 'patient/base.html' %}
{% load static %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="/patient/">Home</a></li>
    <li>My Account</li>
  </ul>

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
        <!-- Profile Sidebar -->
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            <div class="profile-sidebar">
            <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    <img src="/media/{{patient.profile_img}}" alt="User Image" style="width: 150px; height: 150px; object-fit: cover;">
                </a>
                <div class="profile-det-info">
                    <h3>{{cuser.first_name}}  {{cuser.last_name}}</h3>
                    <div class="patient-details">
                    <h5><i class="fas fa-birthday-cake"></i>{{patient.date_of_birth | date:"d M, Y"}}</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{address.city}}, {{address.state}}</h5>
                    </div>
                </div>
                </div>
            </div>
            <div class="dashboard-widget">
                <nav class="dashboard-menu">
                <ul type="none">
                    <li>
                    <a href="/patient/myaccount/">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                    </li>
                    <li>
                    <a href="/patient/patient-notifications/">
                        <i class="fas fa-bell"></i>
                        <span>Notifications</span>
                    </a>
                    </li>
                    <li>
                    <a href="/patient/patient-settings/">
                        <i class="fas fa-user-cog"></i>
                        <span>Profile Settings</span>
                    </a>
                    </li>
                    <li>
                    <a href="/patient/patient-change-password/">
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </a>
                    </li>
                    <li>
                    <a href="/patient/delete-account/">
                        <i class="fas fa-trash-can"></i>
                        <span>Delete Account</span>
                    </a>
                    </li>
                    <li>
                    <a href="/logout/">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                    </li>
                </ul>
                </nav>
            </div>
            </div>
        </div>
        <!-- / Profile Sidebar -->
        {%block main%}
        
        {%endblock%}
        </div>
    </div>
</div>
{%endblock%}