{%extends 'patient/myaccount_base.html'%}
{%block main%}
      
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body pt-0">
          
            <!-- Tab Menu -->
            <nav class="user-tabs mb-4">
              <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item">
                  <a class="nav-link active" href="/patient/myaccount/" data-toggle="tab">Appointments</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/patient/prescription/" data-toggle="tab">Prescriptions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/patient/bills/" data-toggle="tab">Billing</a>
                </li>
              </ul>
            </nav>
            <!-- /Tab Menu -->
            
            <!-- Tab Content -->
            <div class="tab-content pt-0">
              
              <!-- Appointment Tab -->
              <div id="pat_appointments" class="tab-pane fade show active">
                <div class="card card-table mb-0">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-center mb-0">
                        <thead>
                          <tr>
                            <th>Doctor</th>
                            <th>Appt Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {%for app in appointment%}
                          <tr>
                            <td>
                              <h2 class="table-avatar">
                                <a href="/patient/doc-details/{{app.doctor_id_id}}" class="avatar avatar-sm mr-2">
                                  <img class="rounded-circle" src="/media/{{app.doctor_id.profile_img}}" alt="User Image" style="width: 100px; height: 100px; object-fit: cover;">
                                </a>
                                <a href="/media/doc-details/{{app.doctor_id_id}}">  Dr.  {{app.doctor_id.user.first_name}} {{app.doctor_id.user.first_name}}<span>{{app.doctor_id.specialization}}</span></a>
                              </h2>
                            </td>
                            <td>{{app.doctor_id.datetime | date:"d M , yyyy"}}<span class="d-block text-info">{{app.doctor_id.datetime | time:"H:i"}}</span></td>
                            <td>{{app.doctor_id.fees}}</td>
                          </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Appointment Tab -->
              
            </div>
            <!-- Tab Content -->
            
          </div>
        </div>
      </div>
    </div>

  </div>

</div>		
<!-- /Page Content -->

{% endblock  %}