{% extends "basic_structure.html"%}

{% block start%}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Update Profile</h4><hr>

        {% if messages %}
        <div class="alert alert-primary" role="alert">
        {% for message in messages %}
                {{ message }}              
                {% endfor %}
            </div>
        {% endif %}


        <div class="mb-3">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" class="form-control" required id="first_name" name="first_name" value="{{cuser.first_name}}">
          </div>
          <div class="mb-3">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" class="form-control" required id="last_name" name="last_name" value="{{cuser.last_name}}">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" required id="exampleInputEmail1" name="email" aria-describedby="emailHelp" value="{{cuser.email}}">
          </div>
          <div class="mb-3">
            <label for="phoneno" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" required id="phoneno" name="phoneno" value="{{cuser.phone_number}}">
          </div>

          <div class="mb-3">
            <label for="street" class="form-label">street</label>
            <input type="text" class="form-control" required id="street" name="street" value="{{addr.street}}">
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">city</label>
            <input type="text" class="form-control" required id="city" name="city" value="{{addr.city}}">
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">state</label>
            <input type="text" class="form-control" required id="state" name="state" value="{{addr.state}}">
          </div>

          <div class="mb-3">
            <label for="qualification" class="form-label">qualification</label>
            <input type="text" class="form-control" required id="qualification" name="qualification" value="{{doc.qualification}}">
          </div>
          <div class="mb-3">
            <label for="specialization" class="form-label">specialization</label>
            <input type="text" class="form-control" required id="specialization" name="specialization" value="{{doc.specialization}}">
          </div>
          <div class="mb-3">
            <label for="certificate_no" class="form-label">certificate No.</label>
            <input type="text" class="form-control" required id="certificate_no" name="certificate_no" value="{{doc.certificate_no}}">
          </div>
          <div class="mb-3">
            <label for="fees" class="form-label">fees</label>
            <input type="text" class="form-control" required id="fees" name="fees" value="{{doc.fees}}">
          </div>
          <div class="mb-3">
            <label class="form-label">Profile Picture</label>
            <input type="file" class="form-control" name="profile">
          </div>

        <button type="submit" class="btn btn-success">update</button><br><rr>
      </form>
    </div>











{% endblock %}
